@import "tailwindcss";

@font-face {
  font-family: 'GoodBakwan';
  src: url('../../public/fonts/GoodBakwan.woff') format('woff');
}

/* Your custom colors */
:root {
  --primary: #f2f2f2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "inter", Helvetica, sans-serif;
}